#templateWrapper{width:100%;background-color:blue;height:auto;}

#templateWraperLeft{float:left;width:60%;background-color:#E6FFE6;}

#templateEditor{background-color:white;}
#templateCreativeInfo{background-color:white;}

#templatePreviewRight{float:left;background-color:#B5EAAA;;width:39%;margin-left:1%;}

#avaliableCreative,#offerDetail,#templateGenerator{float:left;width:33%;}
#templateEditor{clear:both;}

#offerDetail input{display:block;}
#templateGenerator input{display:block;}

#templateWraperLeft input{width:40%;font-size:90%;}


.toggleMenu p{width:100%;margin:0;padding:0;}
.toggleMenu {cursor:pointer;}
#templateWrapper p{background-color:#DBFFB8;}
.center{margin:0;padding:0;text-align:center;}

#templateCreativeInfo textarea{max-width:198%;height:135px;}

.templateListSubMenu,.templateStyleSubMenu{position:fixed;height:25%;overflow-y: auto;}


.sortable {padding:0;width:80%;height:80px;overflow-y:auto;}
.sortable li {padding:0;width:100%;text-align:center;overflow:hidden;}
.ui-state-default{overflow:hidden;}
#linkedIdSelected li{background-color:#FFFF99;}

#offerDetailTextArea{width:198%;}
#offerDetail input[type="text"]{width:80%;}
#templateGenerator input[type="text"]{width:80%;}
#templateGenerator input[type="button"]{display:inline;}
.templateStyleSelected{display:none;}
#templateManagement select{width:45%;overflow;hidden;}
#templatePreviewRight img{width:90%;height:80px;margin:5px;background-color:#EAFAF6;}




.loadMenu input{width:85px;height:15px;float:left;}

.dropdownButton{
	background: url("../images/dropdown.gif") no-repeat top left ; 
	padding:1px 8px;
	width:1px;
	height:15px;
	float:left;
	display:block;
	clear:right;
	}

.dropdownButton:hover{
	background-position:top right; 
	cursor:pointer;
	}

/*textarea{width:99%; height:300px;}*/	

#creativeParent{position:relative;}



ul{margin:0;padding:0;}

#templateContent{width:80%;max-width:99%;height:250px;}
#templateEditor textarea{width:99%;}

